<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 이름 ; 패키지명까지! -->
<mapper namespace="org.zerock.dao.SmemMapper">

	<insert id="create" parameterType="SmemVO">
		<!-- #{tname} = getTname -->
		insert into tbl_smem(userid, userpw) values(#{userid},#{userpw})
	</insert>

	<select id="read" resultType="SmemVO">
		select * from tbl_smem where userid
		= #{userid}
	</select>

	<delete id="delete" parameterType="SmemVO">
		delete from tbl_smem where userid = #{userid}
	</delete>
	
	<update id="update" parameterType="SmemVO">
		update tbl_smem set userpw = #{userpw}
		where userid = #{userid}
	</update>

</mapper>