<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 이름 ; 패키지명까지! -->
<mapper namespace="org.zerock.dao.TestMapper">

	<insert id="create" parameterType="TestVO">
		<!-- #{tname} = getTname -->
		insert into tbl_test(tname) values(#{tname})
	</insert>

</mapper>